@font-face{
    font-family: 'LT_remark';
    src: url('LT_remark/LTRemark-Regular.otf') format('otf');
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(картинки/фон2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    font-size: 30px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
}
.navbar {
  color: #fff;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 2;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 30px;
  text-align: center;
  box-sizing:border-box;
}


.navbar__item a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.navbar__item a:hover {
  color: #a61f1f;
}

.navbar__toggle-btn {
  display: none;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .navbar__top {
    width: 100%;
  }

  .navbar__list.hidden {
    display: none;
  }


  .navbar__toggle-btn {
    display: block;
  }

  .navbar {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .navbar__list {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .navbar__item {
    display: block;
    text-align: center;
    width: 100%;
  }

  .navbar__item a {
    display: block;
    width: 100%;
    padding: 10px 0; 
  }
  .form-container{
    max-width: 100%;
  }
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 600px;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
}
.form-section {
    padding: 30px 40px;
}
.form-input {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-input label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-input select, .form-input input {
    border: solid 2px #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
}
.form-input select:focus, .form-input input:focus {
    outline: 0;
    border-color: #777;
}

.form-submit {
    text-align: center;
}
.form-submit button {
    cursor: pointer;
    background-color: #a61f1f;
    border: 2px solid #a61f1f;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    outline: none;
}
.success-message {
    text-align: center;
    color: var(--success-color);
    margin-top: 20px;
}
.buy-again-button {
    text-align: center;
    margin: 20px;
}
.payment-method {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.card-number-input {
    display: none;
}